@import "variables/colors";
@import "mixins/buttons";
@import "components/buttons";
@import "components/segments";
@import "components/nav";
@import "components/login";
@import "components/modal";
@import "components/tasks";
@import "components/schedule";
@import "components/shifts";
@import "components/dropdown";
@import "components/management";
@import "components/tables";
@import "components/tabs";
@import "components/profile";
@import "components/datetimepicker";
@import "pages/plan-users";
@import "pages/plan-tasks";
@import "pages/manage-shifts";
@import "pages/manage-tasks";
@import "pages/manage-teams";
@import "pages/manage-users";

body {
    padding-top: 64px;
    background-color: $body-color;
    font-family: 'Lato', sans-serif;
}

.form-requirement {
    display: inline-block;
    margin: 10px 0;
    color: rgba(0, 0, 0, .7);
    font-size: 80%;
    font-style: italic;

    i {
        margin-right: 5px;
    }
}

.loading-container {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;

    background-color: rgba(255,255,255,.8);
    z-index: 9999;
}

%pulse {
    content: '';
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    border: 1px solid $primary-color;
    position: absolute;
    border-radius: 50%;

    animation: pulsate 1.2s ease-in-out;
    animation-iteration-count: infinite;
    opacity: 0;
    z-index: 8;
}

.loading-logo {
    width: 64px;
    height: 64px;
    background: $primary-color;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
    z-index: 9;

    img {
        width: 46px;
        margin-top: 14px;
        margin-left: 9px;
    }

    &::after {
        @extend %pulse;
    }

    &::before {
        @extend %pulse;
        animation: pulsate-2 1.2s ease-in-out;
        animation-iteration-count: infinite;
        animation-delay: 0.2s;
    }
}

@-webkit-keyframes pulsate {
    0% {
        transform: scale(1, 1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        transform: scale(1.6, 1.6);
        opacity: 0.0;
    }
}

@-webkit-keyframes pulsate-2 {
    0% {
        transform: scale(1, 1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        transform: scale(1.4, 1.4);
        opacity: 0.0;
    }
}