.create-container {
  background: ghostwhite;
  width: 25%;
  margin: auto;
  height: 350px;
  border-radius:5px;
  border: 1px solid $gray-color;
}

.create-row {
  margin:auto;
  padding-top: 30px;
}

.create-buttons {
  margin-top: 250px;
  margin-left: 15px;
  margin-right: 15px;
}