.management {

    .management-menu {
        width: 155px;
        height: 100%;
        position: fixed;
        top: 64px;
        left: 0;
        background-color: #F9F9F9;


        .list-header {
            font-size: 16px;
            padding-left: 10px;
        }
        a {
            color: #999;
            text-decoration: none;
            transition: all .15s ease-in-out;

            li {
                padding-left: 25px;
                padding-top: 8px;
                padding-bottom: 8px;

                &:hover {
                    background-color: $body-color;
                    color: black;

                    a {
                        color: #000;
                    }
                }

            }
        }

        i {
            padding-right: 10px;
        }
    }

}

.manage{
    background-color: inherit;
    margin-left: 155px;
    margin-top: 40px;

    .manage-body{
        margin: auto;
        background-color: #F9F9F9;
        height: 750px;
        width: 1200px;
        border: 1px solid $gray-color;

        .heading{
            border-bottom: 1px solid $gray-color;
            margin: 15px 30px 30px 30px;
        }

        table{
            background-color: #F9F9F9;
            width: 90%;
            margin: auto;

            .options{
                width: 100px;

            }

            .country{
                width: 150px;
            }
        }
    }
}