.management {

    .management-menu {
        width: 155px;
        height: 100%;
        position: fixed;
        top: 64px;
        left: 0;
        background-color: #F9F9F9;

        .list-header {
            font-size: 16px;
            padding-left: 10px;
        }

        li {
            padding-left: 25px;
            padding-top: 8px;
        }

        i {
            padding-right: 10px;
        }
    }

    .container {
        margin-left: 175px;
        margin-top: 20px;
        width: 90%;
        //height: 1000px;
    }
}

.manage{
    background-color: inherit;

    .tab-header{
        margin-top: 10px;
        margin-right: 5%;
        margin-left: 5%;
    }

    table{
        background-color: ghostwhite;
        width: 90%;
        margin: auto;

        .options{
            width: 100px;

        }

        .country{
            width: 150px;
        }


    }

}