.segment {
    margin-right: -15px;
    margin-left: -15px;
    padding: 20px 0;

    &.darker-bg {
        background-color: #f3f3f3;
    }

    &.light-bg {
        background: #fff;
    }

    &.box {
        padding:30px;
        box-shadow: 0 2px 1px rgba(0,0,0,.1);
    }
}


