.table-no-style {
    width:inherit;
    max-width:inherit;

    tbody {
        tr {
            th, td {
                border: none;
            }
        }
    }
}

.table-planning{
    width: 700px;

    .CWID{
        width: 100px;
    }
    .name{
        width: 300px;
    }
    .shift{
        width: 100px;
    }
    .override{
        width: 150px;
    }
    .check{
        width: 50px;
    }
}