.manage-users {
  margin-top: 40px;

  table {
    th {
      &:last-child {
        width:100px;
      }
    }
  }

  .input-email{
    padding-right: 0;
  }

  .email{
    //font-size: 24px;
    padding-left: 0;
    padding-top: 32px;
  }
}