.manage-shifts {
    margin-top: 40px;

    table {
        th {
            &:last-child {
                width: 100px;
            }
        }
    }
    .colors {
        padding: 4px 0;
        .color {
            width: 24px;
            height: 24px;
            padding: 4px;

            border: 1px solid #ccc;
            border-radius: 3px;
            float: left;
            cursor: pointer;
            margin: 0 5px 0 0;

            .inner-color {
                width: 14px;
                height: 14px;
                border-radius: 3px;
            }

            &.active,
            &:hover {
                background-color: rgba(0, 0, 0, .1);
            }

        }

        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }

    .select-time {
        select {
            float: left;
            width: 45%;
        }

        span {
            width: 10%;
            float: left;
            padding: 6px 0;
            text-align: center;
        }
    }
}