<div class="login">
    <div class="loading-container" ng-if="vm.dataLoading">
        <div class="loading">
            <div class="loading-logo">
                <img src="images/logo.png" alt="Deimos">
            </div>
        </div>
    </div>

    <h3>Deimos Grip Planning</h3>
    <h4>Change Password</h4>

    <div class="alert" ng-class="vm.message.type" ng-if="vm.message">
        <strong><i class="fa" ng-class="vm.message.icon"></i>{{ vm.message.title }}</strong> <br>
        <span ng-bind-html="vm.message.content"></span>
    </div>

    <div class="fields">
        <div class="input-group">
            <span class="input-group-addon" id="addon1"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Password" aria-describedby="addon1"
                   ng-model="vm.password">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="addon2"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Retype Password" aria-describedby="addon2"
                   ng-model="vm.confirmationPassword">
        </div>
    </div>
    <button class="btn btn-primary pull-right" ng-click="vm.changePassword()"><span>Reset & Login</span>
        <i class="fa fa-repeat"></i></button>
</div>
