<div ng-if="vm.validChangeRequest" class="login">
    <h3>Deimos Grip Planning</h3>
    <h4>Change Password</h4>

    <div class="fields">
        <div class="input-group">
            <span class="input-group-addon" id="addon1"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Password" aria-describedby="addon1"
                   ng-model="vm.password">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="addon2"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Retype Password" aria-describedby="addon2"
                   ng-model="vm.confirmationPassword">
        </div>
    </div>
    <button class="btn btn-primary pull-right" ng-click="vm.changePassword()"><span>Reset & Login</span>
        <i class="fa fa-repeat"></i></button>
</div>

<div class="alert" ng-class="vm.message.type" ng-if="vm.message">
    <strong><i class="fa" ng-class="vm.message.icon"></i>{{ vm.message.title }}</strong> <br>
    <span ng-bind-html="vm.message.content"></span>
</div>