<div class="login">
    <div class="loading-container" ng-if="vm.dataLoading">
        <div class="loading">
            <div class="loading-logo">
                <img src="images/logo.png" alt="Deimos">
            </div>
        </div>
    </div>

    <h3>Welcome to Deimos</h3>
    <h4>Please login</h4>

    <div class="alert" ng-class="vm.message.type" ng-if="vm.message">
        <strong><i class="fa" ng-class="vm.message.icon"></i>{{ vm.message.title }}</strong> <br>
        <span ng-bind-html="vm.message.content"></span>
    </div>


    <div class="fields">
        <div class="input-group">
            <span class="input-group-addon" id="addon1"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="addon1"
                   ng-model="vm.username" ng-model-options="{ debounce: 500 }">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="addon2"><i class="fa fa-lock"></i></span>
            <input type="password" id="password" class="form-control" placeholder="Password" aria-describedby="addon2"
                   ng-model="vm.password">
        </div>
    </div>

    <a class="btn btn-gray pull-left" ui-sref="reset-password">Forgot password?</a>
    <button class="btn btn-primary pull-right" ng-click="vm.checkLogin()"><span>Login</span> <i
            class="fa fa-unlock-alt"></i></button>
</div>