<div class="login">
    <h3>Welcome to Deimos</h3>
    <h4>Please login</h4>

    <div class="fields">
        <div class="input-group">
            <span class="input-group-addon" id="addon1"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="addon1">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="addon2"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Password" aria-describedby="addon2">
        </div>
    </div>

    <button class="btn btn-gray pull-left">Forgot password?</button>
    <button class="btn btn-primary pull-right"><span>Login</span> <i class="fa fa-unlock-alt"></i></button>
</div>