<div class="login">
    <h3>Deimos Grip Planning</h3>
    <h4>Request Password Reset</h4>

    <div class="fields">
        <div class="input-group">
            <span class="input-group-addon" id="addon1"><i class="fa fa-envelope"></i></span>
            <input type="email" class="form-control" placeholder="Email" aria-describedby="addon1"
                   ng-model="vm.email">
        </div>
    </div>

    <button class="btn btn-primary pull-right" ng-click="vm.resetPassword()"><span>Request</span> <i
            class="fa fa-repeat"></i></button>
</div>