<div class="container manage-tasks">
    <div class="segment light-bg box">
        <div class="loading-container" ng-if="vm.dataLoading">
            <div class="loading">
                <div class="loading-logo">
                    <img src="images/logo.png" alt="Deimos">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary pull-right" ui-sref="manage-tasks-new"><span> Add Task</span><i
                        class="fa fa-plus"></i></button>
                <h4>Manage Tasks</h4>
                <hr>

                <div class="alert" ng-class="vm.message.type" ng-if="vm.message">
                    <strong><i class="fa" ng-class="vm.message.icon"></i>{{ vm.message.title }}</strong> <br>
                    <span ng-bind-html="vm.message.content"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <th>Short</th>
                    <th>Description</th>
                    <th>Options</th>
                    </thead>
                    <tbody ng-repeat="taskType in vm.taskTypes">
                    <tr>
                        <td>{{taskType.short}}</td>
                        <td>{{taskType.description}}</td>
                        <td>
                            <a class="btn btn-gray" ui-sref="manage-tasks-edit({taskTypeId: taskType.id})"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-red" ng-if="!taskType.disableLoading" ng-click="vm.showDisableModal(taskType)"><i class="fa fa-trash"></i></a>
                            <a class="btn btn-red" ng-if="taskType.disableLoading"><i class="fa fa-spinner fa-pulse"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="disable-tasktype-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                You are about to disable <strong>{{vm.selectedTaskType.short}}</strong>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="vm.disable(vm.selectedTaskType)">Yes</button>
            </div>
        </div>
    </div>
</div>