<div class="container manage-tasks">
    <div class="segment light-bg box">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary pull-right" ui-sref="manage-tasks-new"><span> New Task</span><i
                        class="fa fa-plus"></i></button>
                <h4>Manage Tasks</h4>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <th>Description</th>
                    <th>Short</th>
                    <th>Options</th>
                    </thead>
                    <tbody ng-repeat="taskType in vm.tasksTypes">
                    <tr>
                        <td>{{taskType.description}}</td>
                        <td>{{taskType.short}}</td>
                        <td>
                            <button class="btn btn-gray" ui-sref="manage-tasks-edit({taskTypeId: taskType.id})"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-red"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>