{% extends 'base.html.twig' %}

{% block body %}
    <div class="loading" ng-if="$root.loading">
        <div class="loading-logo">
            <img src="{{ asset('images/logo.png') }}" alt="Deimos">
        </div>
    </div>
    <div menu ></div>
    <div ui-view ng-hide="$root.loading"></div>
{% endblock %}

