<div class="manage">
    <div class="tab-header">
        <h4 class="pull-left"> User Management</h4>
        <button class="btn btn-primary pull-right"><span>New User</span><i class="fa fa-plus"></i></button>
        <div class="clearfix"></div>
        <hr>
    </div>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th class="country">Country</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th class="options">Options</th>
        </tr>
        <tr>
            <td><img src="images/netherlands.png" width="50px"><span> NLD</span></td>
            <td>John Cena</td>
            <td>J.Cena@agfa.com</td>
            <td>
                <select name="" class="form-control">
                    <option value="Admin">Admin</option>
                    <option value="Manager" selected="">Manager</option>
                    <option value="User">User</option>
                </select>
            </td>
            <td>
                <button class="btn btn-gray"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-red"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        <tr>
            <td><img src="images/canada.png" width="50px"><span> CAN</span></td>
            <td>Micheal Cera</td>
            <td>M.Cera@agfa.com</td>
            <td>
                <select name="" class="form-control">
                    <option value="Admin">Admin</option>
                    <option value="Manager">Manager</option>
                    <option value="User" selected="">User</option>
                </select>
            </td>
            <td>
                <button class="btn btn-gray"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-red"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>