<div class="container manage-tasks">
    <div class="segment light-bg box">
        <div class="row">
            <button class="btn btn-primary pull-right"><span> New Task</span><i class="fa fa-plus"></i></button>
            <h4>Manage Tasks</h4>
            <hr>
        </div>

        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <th>Task</th>
                    <th>Options</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Task 1</td>
                        <td>
                            <button class="btn btn-gray"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-red"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>