<div class="manage">
    <div class="tab-header">
        <h4 class="pull-left"> Shift Management</h4>
        <button ui-sref="create-shift" class="btn btn-primary pull-right"><span> New Shift</span><i class="fa fa-plus"></i></button>
        <div class="clearfix"></div>
        <hr>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Shift</th>
            <th>Duration</th>
            <th>Team</th>
            <th class="options">Options</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Shift 1</td>
            <td>08:15-16:45</td>
            <td><span>GRIP Nederland</span></td>
            <td class="options">
                <button ui-sref="edit-shift" class="btn btn-gray"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-red"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        <tr>
            <td>Shift 2</td>
            <td>08:15-16:45</td>
            <td><span>GRIP Canada</span></td>
            <td class="options">
                <button class="btn btn-gray"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-red"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
