<div class="manage">
    <div class="tab-header">
        <h4 class="pull-left"> Task Management</h4>
        <button class="btn btn-primary pull-right"><i class="fa fa-plus"></i><span> New Task</span></button>
        <div class="clearfix"></div>
        <hr>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Task</th>
            <th class="options">Option</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Some Task 1</td>
            <td class="options">
                <button class="btn btn-gray"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-red"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        <tr>
            <td>Some Task 2</td>
            <td class="options">
                <button class="btn btn-gray"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-red"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
