<div class="manage">
    <div class="tab-header">
        <h4 class="pull-left"> Team Management</h4>
        <button class="btn btn-primary pull-right"><i class="fa fa-plus"></i><span> New Team</span></button>
        <div class="clearfix"></div>
        <hr>
    </div>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th class="country">Country</th>
            <th>Location</th>
            <th>Timezone</th>
            <th class="options">Options</th>
        </tr>
        <tr>
            <td><img src="images/netherlands.png" width="50px">NLD</td>
            <td>Rijswijk</td>
            <td>UTC +2</td>
            <td>
                <button class="btn btn-gray"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-red"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        <tr>
            <td><img src="images/canada.png" width="50px">CAN</td>
            <td>Waterloo</td>
            <td>UTC -4</td>
            <td>
                <button class="btn btn-gray"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-red"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>