<div class="manage">
    <div class="manage-body">

        <div class="heading">
            <h4 class="pull-left"><label>Team Management</label></h4>
            <button class="btn btn-primary pull-right"><span> New Team</span><i class="fa fa-plus"></i></button>
            <div class="clearfix"></div>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="country">Country</th>
                <th>Location</th>
                <th>Timezone</th>
                <th class="options">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img src="images/netherlands.png" width="50px"><span> NLD</span></td>
                <td>Rijswijk</td>
                <td>Europe/Amsterdam</td>
                <td>
                    <button class="btn btn-gray"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-red"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td><img src="images/canada.png" width="50px"><span> CAN</span></td>
                <td>Waterloo</td>
                <td>America/Toronto</td>
                <td>
                    <button class="btn btn-gray"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-red"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>