<button class="btn btn-primary pull-right">+ New User</button>
<table class="table table-bordered">
    <tbody>
    <tr>
        <th>Country</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Options</th>
    </tr>
    <tr>
        <td><img src="images/netherlands.png" width="50px">NLD</td>
        <td>John Cena</td>
        <td>J.Cena@agfa.com</td>
        <td>
            <select name="" class="form-control">
                <option value="Admin">Admin</option>
                <option value="Manager" selected="">Manager</option>
                <option value="User">User</option>
            </select>
        </td>
        <td>
            <button class="btn btn-gray"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-red"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
    <tr>
        <td><img src="images/canada.png" width="50px">CAN</td>
        <td>Micheal Cera</td>
        <td>M.Cera@agfa.com</td>
        <td>
            <select name="" class="form-control">
                <option value="Admin">Admin</option>
                <option value="Manager">Manager</option>
                <option value="User" selected="">User</option>
            </select>
        </td>
        <td>
            <button class="btn btn-gray"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-red"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
    </tbody>
</table>