<div class="container manage-users">
    <div class="segment light-bg box">
        <div class="row">
            <button class="btn btn-primary pull-right" ui-sref="create-user"><span> New Task</span><i class="fa fa-plus"></i></button>
            <h4>Manage Users</h4>
            <hr>
        </div>

        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <th>Team</th>
                    <th>Username</th>
                    <th>Real name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Options</th>
                </thead>
                <tbody>
                    <tr>
                        <td>CAN</td>
                        <td>JDREA</td>
                        <td>John Doe</td>
                        <td>John.Doe@Agfa.com</td>
                        <td>
                            <select class="form-control" name="role" id="">
                                <option value="#">Admin</option>
                                <option value="#">User</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-gray" ui-sref="edit-user"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-red"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>