<div class="management">
    <div class="container">
        <div class="management-menu">
            <ul class="list-unstyled">
                <li class="list-header">Plan</li>
                <li href=""><i class="fa fa-calendar"></i>Shifts</li>
                <li><i class="fa fa-tasks"></i>Tasks</li>
                <li class="list-header">Manage</li>
                <li><i class="fa fa-globe"></i>Team</li>
                <li><i class="fa fa-users"></i>Users</li>
                <li><i class="fa fa-calendar-o"></i>Shifts</li>
                <li><i class="fa fa-tasks"></i>Tasks</li>
            </ul>
        </div>
    </div>
</div>