<div class="planning">
    <div class="planning-body">
        <div class="heading">
            <h4><label>Plan Shifts</label></h4>
        </div>

        <!--Calendar-->
        <div class="col-md-3">
            <div id="datetimepicker-1" class="calendar"></div>
        </div>

        <!--table with users-->
        <div class="col-md-9 overflow">
            <table class="table table-bordered table-planning">
                <thead>
                <tr>
                    <th class="CWID">CWID</th>
                    <th class="name">User</th>
                    <th class="shift">Shift</th>
                    <th class="override">Override</th>
                    <th class="check">Check</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>

                <!--filler-->
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <tr>
                    <td>ERTVB</td>
                    <td>John</td>
                    <td>
                        <select>
                            <option value="">shift1</option>
                            <option value="">shift2</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button> </td>
                </tr>
                <!--filler end-->
                </tbody>
            </table>


        </div>

        <!--push to database button-->
        <button class="submit btn btn-primary" type="submit" value="submit">submit</button>

    </div>
</div>

