<div class="container plan-tasks">
    <div class="segment light-bg box">
        <div class="loading-container" ng-if="vm.dataLoading">
            <div class="loading">
                <div class="loading-logo">
                    <img src="images/logo.png" alt="Deimos">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="pull-left">Plan tasks for:</h4>

                <select class="form-control pull-left select" ng-model="vm.selectedUser"
                        ng-options="user.id as user.real_name for user in vm.users" ng-change="vm.selectUser()">
                    <option value="" ng-disabled="!!vm.selectedUser">Select a User</option>
                </select>

                <div class="clearfix"></div>

                <div class="alert" ng-class="vm.message.type" ng-if="vm.message">
                    <strong><i class="fa" ng-class="vm.message.icon"></i>{{ vm.message.title }}</strong> <br>
                    <span ng-bind-html="vm.message.content"></span>
                </div>

                <hr>

                <div class="row" ng-show="vm.activeDates.length > 0">
                    <div class="col-md-4">
                        <div id="datetimepicker-2" class="calendar"></div>
                    </div>

                    <div class="shift-container col-md-8" ng-hide="vm.selectedShift">
                        <div class="alert alert-info">
                            <strong><i class="fa fa-info"></i> Please select a date</strong> <br>
                            <span>Please select a date for adding tasks of an existing shift.</span>
                        </div>
                    </div>

                    <div class="shift-container col-md-8" ng-show="vm.selectedShift">
                        <div class=" shift">
                            <i class="fa fa-circle" style="color: {{vm.selectedShift.shift_type_fk.color}}"></i>
                            <span>{{ vm.selectedShift.start_time | date: 'H:mm' : vm.selectedShift.timezone_offset }} - {{ vm.selectedShift.end_time | date: 'H:mm' : vm.selectedShift.timezone_offset }}</span>
                        </div>
                        <div class="tasks-container">
                            <div class="alert alert-info" ng-if="vm.selectedShift.tasks.length == 0">
                                <strong><i class="fa fa-info"></i> No Tasks.</strong> <br>
                                <span>There are no tasks yet on this shift, please add a task.</span>
                            </div>

                            <div class="task" ng-repeat="task in vm.selectedShift.tasks">
                                <span>{{ task.start_time | date:'H:mm' : vm.selectedShift.timezone_offset}} - {{ task.end_time | date:'H:mm' : vm.selectedShift.timezone_offset}}</span>
                                <span>{{ task.description }}</span>
                                <div class="actions">
                                    <!--<a href="#" class="fa fa-pencil"></a>-->
                                    <a href="" class="fa fa-pencil" ng-click="vm.showModal(task)"></a>
                                    <a href="" class="fa fa-times" ng-click="vm.deleteTask(task)"></a>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon1"><i
                                            class="fa fa-clock-o"></i></span>
                                    <input type="text" class="form-control" placeholder="Start"
                                           aria-describedby="sizing-addon1" ng-model="vm.task.startTime">
                                    <span class="input-group-addon mid" id="sizing-addon2">-</span>
                                    <input type="text" class="form-control" placeholder="End"
                                           aria-describedby="sizing-addon2" ng-model="vm.task.endTime">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon3"><i
                                            class="fa fa-tasks"></i></span>
                                    <select name="" id="" class="form-control" ng-model="vm.task.taskType"
                                            ng-options="taskType as taskType.description for taskType in vm.taskTypes">
                                        <option value="" ng-disabled="!!vm.task.taskType">Select a task</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon task-link">
                                        <i class="fa fa-link"></i>
                                        <input type="checkbox" ng-model="link">
                                    </span>
                                    <input type="text" class="form-control" ng-disabled="!link" ng-model="vm.task.url">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group" ng-if="vm.task.taskType.override_description">
                                    <span class="input-group-addon task-link" id="sizing-addon1">
                                        <i class="fa fa-info"></i>
                                    </span>
                                    <input type="text" id="description" class="form-control"
                                           ng-model="vm.task.description">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary pull-right" ng-click="vm.addTask(vm.task)">Plan Task</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="plan-task-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="hideModal()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit task</h4>
            </div>
            <div class="modal-body">
                <div class="alert" ng-class="vm.message.type" ng-if="vm.message">
                    <strong><i class="fa" ng-class="vm.message.icon"></i>{{ vm.message.title }}</strong> <br>
                    <span ng-bind-html="vm.message.content"></span>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon4"><i
                                            class="fa fa-clock-o"></i></span>
                            <input type="text" class="form-control" placeholder="Start"
                                   aria-describedby="sizing-addon1" ng-model="vm.selectedTask.start_time">
                            <span class="input-group-addon mid" id="sizing-addon5">-</span>
                            <input type="text" class="form-control" placeholder="End"
                                   aria-describedby="sizing-addon2" ng-model="vm.selectedTask.end_time">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon6"><i
                                    class="fa fa-tasks"></i></span>
                            <select class="form-control" ng-model="vm.selectedTask.task_type_fk.id"
                                    ng-options="taskType.id as taskType.description for taskType in vm.taskTypes">
                                <option value="" ng-disabled="!!vm.selectedTask.task_type_fk">Select a task</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2 col-md-offset-1">
                        <i class="fa fa-link pull-right"></i>
                        <input type="checkbox" ng-model="link" class="pull-right">
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" ng-disabled="!link" ng-model="vm.selectedTask.url">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="vm.hideModal()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="vm.updateTask(vm.editTask)">Save</button>
            </div>
        </div>
    </div>
</div>