<div class="container plan-tasks">
    <div class="segment light-bg box">
        <div class="loading-container" ng-if="vm.dataLoading">
            <div class="loading">
                <div class="loading-logo">
                    <img src="images/logo.png" alt="Deimos">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="pull-left">Plan tasks for:</h4>

                <select class="form-control pull-left select" ng-model="vm.selectedUser" ng-options="user.id as user.real_name for user in vm.users" ng-change="vm.selectUser()">
                    <option value="" ng-disabled="!!vm.selectedUser">Select a User</option>
                </select>

                <div class="clearfix"></div>

                <div class="alert" ng-class="vm.message.type" ng-if="vm.message">
                    <strong><i class="fa" ng-class="vm.message.icon"></i>{{ vm.message.title }}</strong> <br>
                    <span ng-bind-html="vm.message.content"></span>
                </div>

                <hr>

                <div class="row" ng-show="vm.activeDates.length > 0">
                    <div class="col-md-4">
                        <div id="datetimepicker-2" class="calendar"></div>
                    </div>

                    <div class="shift-container col-md-8" ng-hide="vm.selectedShift">
                        <div class="alert alert-info">
                            <strong><i class="fa fa-info"></i> Please select a date</strong> <br>
                            <span>Please select a date for adding tasks of an existing shift.</span>
                        </div>
                    </div>

                    <div class="shift-container col-md-8" ng-show="vm.selectedShift">
                        <div class=" shift">
                            <i class="fa fa-circle" style="color: {{vm.selectedShift.shift_type_fk.color}}"></i>
                            <span>{{ vm.selectedShift.start_time | date: 'H:mm'}}</span> -
                            <span>{{ vm.selectedShift.end_time | date: 'H:mm'}}</span>
                        </div>
                        <div class="tasks-container">
                            <div class="alert alert-info" ng-if="vm.selectedShift.tasks.length == 0">
                                <strong><i class="fa fa-info"></i> No Tasks.</strong> <br>
                                <span>There are no tasks yet on this shift, please add a task.</span>
                            </div>

                            <div class="task" ng-repeat="task in vm.selectedShift.tasks">
                                <span>{{ task.start_time | date:'H:mm'}} - {{ task.end_time | date:'H:mm'}}</span>
                                <span>{{ task.description }}</span>
                                <div class="actions">
                                    <!--<a href="#" class="fa fa-pencil"></a>-->
                                    <a href="" class="fa fa-times" ng-click="vm.deleteTask(task)"></a>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon1"><i
                                            class="fa fa-clock-o"></i></span>
                                    <input type="text" class="form-control" placeholder="Start"
                                           aria-describedby="sizing-addon1" ng-model="vm.task.startTime">
                                    <span class="input-group-addon mid" id="sizing-addon2">-</span>
                                    <input type="text" class="form-control" placeholder="End"
                                           aria-describedby="sizing-addon2" ng-model="vm.task.endTime">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon3"><i
                                            class="fa fa-tasks"></i></span>
                                    <select name="" id="" class="form-control" ng-model="vm.task.taskType" ng-options="taskType as taskType.description for taskType in vm.taskTypes">
                                        <option value="" ng-disabled="!!vm.task.taskType">Select a task</option>
                                    </select>
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" ng-click="vm.addTask(vm.task)"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>