<div class="container plan-users">
    <div class="segment light-bg box">
        <div class="row">
            <div class="col-md-12">
                <h4>Plan Users</h4>
                <hr>
                <div class="alert" ng-class="vm.message.type" ng-if="vm.message">
                    <strong><i class="fa" ng-class="vm.message.icon"></i>{{ vm.message.title }}</strong> <br>
                    <span ng-bind-html="vm.message.content"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div id="datetimepicker-1" class="calendar"></div>
            </div>
            <div class="col-md-8">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Shift</th>
                        <!--<th>Override</th> -->
                        <th class="check">Check</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="user in vm.users">
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>
                            <select class="form-control" ng-model="user.newShift" ng-options="shiftType.id as shiftType.description for shiftType in vm.shiftTypes">
                                <option value="" ng-disabled="!!user.newShift">Select a shift</option>
                            </select>
                        </td>
                        <!--<td><div class="form-control"></div></td>-->
                        <td>
                            <button class="btn" ng-class="{'btn-gray': !user.checked, 'btn-success': user.checked }" ng-click="vm.checkUser(user)"><i class="fa fa-check"></i></button>

                        </td>
                    </tr>
                    </tbody>
                </table>

                <button class="btn btn-primary pull-right" ng-click="vm.addShifts()">Save</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

