<div class="container plan-users">
    <div class="segment light-bg box">
        <div class="row">
            <div class="col-md-12">
                <h4>Plan Users</h4>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div id="datetimepicker-1" class="calendar"></div>
            </div>
            <div class="col-md-8">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Shift</th>
                        <th>Override</th> <!-- !!!! -->
                        <th class="check">Check</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>John Doe</td>
                        <td>
                            <select class="form-control">
                                <option value="#">Shift 1</option>
                            </select>
                        </td>
                        <td><div class="form-control"></div></td>
                        <td><button class="btn btn-gray"><i class="fa fa-check"></i> </button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

