<div class="container manage-teams">
    <div class="segment light-bg box">
        <div class="row">
            <div class="col-md-12">
                <h4>Edit Team</h4>
                <hr>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group ">
                    <label for="inputLocation">Timezone:</label>
                    <input type="text" ng-model="vm.editTeam.timezone" class="form-control" id="inputLocation" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputShort">Short:</label>
                    <input type="text" ng-model="vm.editTeam.short" class="form-control" id="inputShort" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputName">Name:</label>
                    <input type="text" ng-model="vm.editTeam.name" class="form-control" id="inputName" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputDescription">Name:</label>
                    <input type="text" ng-model="vm.editTeam.location" class="form-control" id="inputDescription" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button ui-sref="manage-teams" class="btn btn-danger pull-left">Cancel</button>
                <button class="btn btn-primary pull-right">Create</button>
            </div>
        </div>
    </div>
</div>