<div class="container manage-teams">
    <div class="segment light-bg box">
        <div class="loading-container" ng-if="vm.dataLoading">
            <div class="loading">
                <div class="loading-logo">
                    <img src="images/logo.png" alt="Deimos">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Add Team</h4>
                <hr>

                <div class="alert" ng-class="vm.message.type" ng-if="vm.message">
                    <strong><i class="fa" ng-class="vm.message.icon"></i>{{ vm.message.title }}</strong> <br>
                    <span ng-bind-html="vm.message.content"></span>
                </div>
            </div>
        </div>
        <div class="row" ng-if="vm.timezones">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" class="form-control" placeholder="Team" ng-model="vm.team.name">
                </div>
            </div>
        </div>
        <div class="row" ng-if="vm.timezones">
            <div class="col-md-2 col-md-offset-2">
                <label for="short">Short:</label>
                <input type="text" id="short" class="form-control" placeholder="TM" ng-model="vm.team.short">
                <span class="form-requirement"><i class="fa fa-info"></i> Max 3 characters.</span>
            </div>
            <div class="col-md-2">
                <label for="location">Location:</label>
                <input type="text" id="location" class="form-control" placeholder="NLD" ng-model="vm.team.location">
            </div>
            <div class="col-md-4">
                <label for="timezone">Timezone:</label>
                <select id="timezone" ng-model="vm.team.timezone" class="form-control" ng-options="timezone for timezone in vm.timezones">
                    <option value="" ng-disabled="!!vm.team.timezone">Select a timezone</option>
                </select>
            </div>

        </div>
        <div class="row" ng-if="vm.timezones">
            <div class="col-md-12">
                <hr>
                <button ui-sref="manage-teams" class="btn btn-danger pull-left">Cancel</button>
                <button class="btn btn-primary pull-right" ng-click="vm.add()">Create</button>
            </div>
        </div>
    </div>
</div>