<div class="container manage-users">
    <div class="segment light-bg box">
        <div class="row">
            <div class="col-md-12">
                <h4>Edit User</h4>
                <hr>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputUserName">User Name:</label>
                    <input type="text" ng-model="vm.editUser.username" class="form-control" id="inputUserName">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputName">Name:</label>
                    <input type="text" ng-model="vm.editUser.real_name" class="form-control" id="inputName">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputEmail">Email:</label>
                    <input type="email" ng-model="vm.editUser.email" class="form-control" id="inputEmail" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputRole">Role:</label>
                    <select class="form-control" name="role" id="inputRole" ng-model="vm.editUser.role_fk.id">
                        <option ng-repeat="role in vm.roles" value="{{role.id}}" ng-selected="vm.editUser.role_fk.id">{{role.role}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputTeam">Team:</label>
                    <select name="Team" class="form-control" id="inputTeam" ng-model="vm.editUser.team_fk.id">
                        <option ng-repeat="team in vm.teams" ng-selected="vm.editUser.team_fk.id" value="{{team.id}}">{{team.location}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button ui-sref="manage-users" class="btn btn-danger pull-left">Cancel</button>
                <button class="btn btn-primary pull-right" ng-click="vm.updateUser(vm.editUser.id)">Edit</button>
            </div>
        </div>
    </div>
</div>