<div class="container manage-users">
    <div class="segment light-bg box">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary pull-right" ui-sref="manage-users-new"><span> New Task</span><i
                        class="fa fa-plus"></i></button>
                <h4>Manage Users</h4>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <th>Team</th>
                    <th>Username</th>
                    <th>Real name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Options</th>
                    </thead>
                    <tbody ng-repeat="user in vm.users">
                    <tr>
                        <td>{{ user.team_fk.location }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.real_name }}</td>
                        <td>{{ user.email}}</td>
                        <td>
                            <select class="form-control" name="role" id="">
                                <option ng-repeat="role in vm.roles" value="{{role.id}}" ng-selected="vm.selectedRole(user.role_fk.id, role.id)">{{role.role}}</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-gray" ui-sref="manage-users-edit({userId: user.id})"><i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-red"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>