<div class="container manage-users">
    <div class="segment light-bg box">
        <div class="loading-container" ng-if="vm.dataLoading">
            <div class="loading">
                <div class="loading-logo">
                    <img src="images/logo.png" alt="Deimos">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Add User</h4>
                <hr>

                <div class="alert" ng-class="vm.message.type" ng-if="vm.message">
                    <strong><i class="fa" ng-class="vm.message.icon"></i>{{ vm.message.title }}</strong> <br>
                    <span ng-bind-html="vm.message.content"></span>
                </div>
            </div>

        </div>
        <div class="row" ng-if="vm.teams && vm.roles">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="inputUserName">Username:</label>
                    <input type="text" placeholder="John" class="form-control" id="inputUserName"
                           ng-model="vm.user.username">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="inputCWID">CWID:</label>
                    <input type="text" placeholder="AAAAA" class="form-control" id="inputCWID"
                           ng-model="vm.user.cwid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputName">Real Name:</label>
                    <input type="text" placeholder="John Doe" class="form-control" id="inputName"
                           ng-model="vm.user.real_name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputEmail">Email:</label>
                    <input type="email" placeholder="email@example.com" class="form-control" id="inputEmail"
                           ng-model="vm.user.email">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="inputRole">Role:</label>
                    <select name="Role" class="form-control" id="inputRole" ng-model="vm.user.role"
                            ng-options="role.role for role in vm.roles">
                        <option value="" ng-disabled="!!vm.user.role">Select a role</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="inputTeam">Team:</label>
                    <select name="Role" class="form-control" id="inputTeam" ng-model="vm.user.team"
                            ng-options="team.name for team in vm.teams">
                        <option value="" ng-disabled="!!vm.user.team">Select a team</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" ng-if="vm.teams && vm.roles">
            <div class="col-md-12">
                <a ui-sref="manage-users" class="btn btn-danger pull-left">Cancel</a>
                <button class="btn btn-primary pull-right" ng-click="vm.add()">Create</button>
            </div>
        </div>
    </div>
</div>