<div class="schedule-container">
    <div class="schedule" ng-repeat="(key, planning) in vm.planning" id="{{ key + 1 }}" ng-init="planningKey = key">
        <div class="heading">
            <div class="item" ng-repeat="(key, heading) in planning">
               <span ng-if="key > 0">
                    {{ heading | date:'EEEE' }} <br>
                    {{ heading | date:'d MMM' }}
               </span>
                <span ng-if="key == 0">
                    Week {{ heading | date:'ww' }}
                </span>
            </div>
        </div>

        <!-- loop through the users -->
        <div class="body">
            <div class="body-row" ng-repeat="user in vm.planningUsers[key]">
                <div class="item" ng-repeat="(key, day) in user" ng-init="today = vm.getPlanningContent(day, key, planningKey)">
                    <span ng-if="key == 0">
                        {{ day.user.real_name }}
                    </span>

                    <div class="shift" ng-if="key > 0">
                        <i class="fa fa-circle {{ today.shift.shiftTypeShort }}"></i> {{ today.shift.startTime | date: 'H:mm' }} - {{ today.shift.endTime | date: 'H:mm' }}

                        <div class="actions">
                            <i class="fa fa-pencil"></i>
                            <i class="fa fa-question"></i>
                        </div>
                    </div>

                    <div class="task" ng-if="key > 0 && today.tasks[0].length != 0" ng-repeat="task in today.tasks"><span>{{ task.taskStartTime | date: 'H:mm' }} - {{ task.taskEndTime | date: 'H:mm' }}</span> {{ task.taskDescription }}</div>
                </div>
            </div>

        </div>

    </div>
</div>

<script>
    $(function () {
        setTimeout(function () {



        // NOTE: Call this code after building the DOM, otherwise it won't work
        // TODO: disable heading scrolling when working on other browsers than chrome and firefox (for now)

        //@formatter:off
        // Variables
        // Items
        var ScheduleContainer = $('.schedule-container'),
                schedules = $('.schedule');

        // Measures
        var columns = 8,
                scheduleContainerWidth = 'inherit',
                scheduleContainerHeight = $(window).height() - 95;
//            scheduleContainerHeight = 317;

        var current = 1,
                item = $('#' + current),
                lastScrollTop = 0;
        //@formatter:on

        ScheduleContainer.css({'height': scheduleContainerHeight, 'width': scheduleContainerWidth});
        $(window).resize(function () {
            ScheduleContainer.css({'height': scheduleContainerHeight, 'width': scheduleContainerWidth});
        });

        buildSchedule();

        function buildSchedule() {
            var itemWidth = (100 / columns) + '%';
            var heading = $('.heading');
            var bodyRow = $('.body-row');

            heading.find('.item').css({width: itemWidth});
            heading.find('.item:last-child').css({width: itemWidth + 1});

            bodyRow.find('.item').css({width: itemWidth});
            bodyRow.find('.item:last-child').css({width: itemWidth + 1});
        }

        item.addClass('active');

        ScheduleContainer.scroll(function (e) {
            var currentScrollTop = $(this).scrollTop();
            var nextItem = (current == schedules.length) ? $('#' + (current)) : $('#' + (current + 1));
            var previousItem = (current == 1) ? $('#' + (current)) : $('#' + (current - 1));

            if (currentScrollTop > lastScrollTop) {
                // DOWN
                console.log('scroll', $(this).scrollTop(), 'nextItem', (nextItem.offset().top - ScheduleContainer.offset().top));

                if ((nextItem.offset().top - ScheduleContainer.offset().top) <= 0 && current != schedules.length) {
                    current++;

                    item = $('#' + current);
                    schedules.removeClass('active');
                    item.addClass('active');
                }

            } else {
                // UP
                console.log('scroll', $(this).scrollTop(), 'previousItem', (previousItem.offset().top - ScheduleContainer.offset().top));

                if ((previousItem.offset().top - ScheduleContainer.offset().top) >= (0 - (item.height() + item.find('.heading').height())) && current != 1) {
                    current--;

                    item = $('#' + current);
                    schedules.removeClass('active');
                    item.addClass('active');
                }

            }
            item.find('.heading').css('top', ($(this).scrollTop()));
            lastScrollTop = currentScrollTop;
        });
        },4000);
    })
</script>
