<div class="schedule-filter">
    <div class="filter" ng-click="vm.filter()">{{ vm.selectedMonth }} - {{ vm.selectedYear }}</div>
    <div class="filter" ng-click="vm.filterToday()">Today</div>
</div>
<div class="schedule-container">
    <div class="schedule" ng-repeat="(key, planning) in vm.planning" id="{{ key + 1 }}" ng-init="planningKey = key">
        <div class="heading">
            <div class="item" ng-repeat="(key, heading) in planning">
               <span ng-if="key > 0">
                    {{ heading | date:'EEEE' }} <br>
                    {{ heading | date:'d MMM' }}
               </span>
                <span ng-if="key == 0">
                    Week {{ heading | date:'ww' }}
                </span>
            </div>
        </div>

        <!-- loop through the users -->
        <div class="body">
            <div class="body-row" ng-repeat="user in vm.planningUsers[key]" ng-class="{'active': $root.user.id == user[0].user.id } ">
                <div class="item" ng-repeat="(key, day) in user"
                     ng-init="today = vm.getPlanningContent(day, key, planningKey)">
                    <span ng-if="key == 0">
                        {{ day.user.real_name }}
                    </span>

                    <div class="shift-type" ng-if="key > 0 && today.shift.length != 0"
                         style="background-color: {{ today.shift.shiftColor }}"></div>

                    <div class="shift" ng-if="key > 0">

                        <span ng-if="(today.shift.startTime | date: 'H:mm') == '0:00' && (today.shift.endTime | date: 'H:mm') == '0:00'">Whole day</span>
                        <span ng-if="(today.shift.startTime | date: 'H:mm') != '0:00' && (today.shift.endTime | date: 'H:mm') != '0:00'">{{ today.shift.startTime | date: 'H:mm' }} - {{ today.shift.endTime | date: 'H:mm' }} </span>

                        <i class="fa fa-pencil" ng-if="today.shift.date" ng-click="vm.editShift(today)"></i>
                        <i class="fa fa-info index-info" ng-if="today.shift.date"
                           ng-click="vm.showModal(today.shift)"></i>
                        <i class="fa fa-home working-home" ng-if="today.shift.home"></i>
                    </div>

                    <div class="shift-tasks">
                        <div class="task" style="max-height: 200px" ng-if="key > 0 && today.tasks[0].length != 0"
                             ng-repeat="task in today.tasks" ng-click="vm.redirect(task.taskUrl)"
                             ng-class="{'clickable': task.taskUrl != null && task.taskUrl != ''}">
                        <span ng-if="(task.taskStartTime | date: 'H:mm') != '0:00' && (task.taskEndTime | date: 'H:mm') != '0:00'">
                            <i ng-if="task.taskUrl != null && task.taskUrl != ''" class="fa fa-link link-icon"></i>
                            {{ task.taskStartTime | date: 'H:mm' }} - {{ task.taskEndTime | date: 'H:mm' }}

                        </span> {{ task.taskDescription }}

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="index-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Shift information</h4>
            </div>
            <div class="modal-body">
                <strong>Date:</strong> {{ vm.info.date | date: 'yyyy/M/d'}}<br>
                <strong>Agent:</strong> {{ vm.info.realName }}<br>
                <strong>Start time:</strong> {{ vm.info.startTime | date: 'H:mm' }}<br>
                <strong>End time:</strong> {{ vm.info.endTime | date: 'H:mm' }}<br>
                <strong>Description:</strong> {{ vm.info.description }}<br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="edit-shift-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit shift</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Edit shift for <strong>{{ vm.selectedShift.shift.realName }}</strong> on
                            <em>{{ vm.selectedShift.shift.date | date:'d MMM' }}</em>
                        </p>
                        <hr>

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Options</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="text" ng-model="vm.selectedShift.shift.newStartTime"
                                           class="form-control"></td>
                                <td><input type="text" ng-model="vm.selectedShift.shift.newEndTime"
                                           class="form-control"></td>
                                <td><button class="btn" ng-class="{'btn-gray': !vm.selectedShift.shift.home, 'btn-success': vm.selectedShift.shift.home }" ng-click="vm.toggleHome(vm.selectedShift.shift)" ng-model="vm.selectedShift.shift.home"><i class="fa fa-home"></i></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.updateShift()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" tabindex="-1" role="dialog" id="filter-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Filter Schedule</h4>
            </div>
            <div class="modal-body">
                <div class="row filter-modal">
                    <div class="col-md-6">
                        <h4>Month</h4>
                        <div class="filter" ng-repeat="(key, month) in vm.months" ng-class="{'active': month == vm.selectedMonthTemp }" ng-click="vm.filterMonth(key)">
                            {{ month }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Year</h4>
                        <div class="filter" ng-repeat="(key, year) in vm.years" ng-class="{'active': year == vm.selectedYearTemp }" ng-click="vm.filterYear(year)">
                            {{ year }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="vm.applyFilter()">Apply</button>
            </div>
        </div>
    </div>
</div>
