<div class="nav-bar">
    <div class="logo">
        <img src="images/logo.png" alt="">
        <span>Deimos</span>
    </div>

    <div ng-if="!$root.$state.is('login') && !$root.$state.is('change-password') && !$root.$state.is('reset-password')">
        <div class="account dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-user"></i> Danny Nieuwmans
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <li class="active"><a ui-sref="index"><i class="fa fa-home"></i> Home</a></li>
                <li><a ui-sref="profile"><i class="fa fa-user"></i> My Profile</a></li>
                <li><a ui-sref=""><i class="fa fa-cogs"></i> Management</a></li>
                <li role="separator" class="divider"></li>
                <li><a ui-sref="login"><i class="fa fa-lock"></i> Logout</a></li>
            </ul>
        </div>

        <div class="item" data-toggle="modal" data-target="#tasksModal">
            <i class="fa fa-tasks"></i>
        </div>

        <div class="item">
            <i class="fa fa-calendar-minus-o"></i>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="tasksModal" tabindex="-1" role="dialog" aria-labelledby="tasksModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tasksModalLabel">Assigned Tasks for: {Date}</h4>
            </div>
            <div class="modal-body">
                <div class="tasks-container">
                    <div class="task"><span>12:00 - 13:00</span> Meeting</div>
                    <div class="task"><span>12:00 - 13:00</span> Deimos Design</div>
                </div>
            </div>
        </div>
    </div>
</div>
