<div class="container manage-shifts">
    <div class="segment light-bg box">
        <div class="row">
            <div class="col-md-12">
                <h4>Edit Shift</h4>
                <hr>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group ">
                    <label for="inputDescription">Description:</label>
                    <input type="text" ng-model="vm.editShiftTypes.description" class="form-control" id="inputDescription" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputShort">Short:</label>
                    <input type="text" ng-model="vm.editShiftTypes.short" class="form-control" id="inputShort" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputStartTime">Start Time:</label>
                    <input type="time" ng-model="vm.editShiftTypes.default_start_time " class="form-control" id="inputStartTime" step="900">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputEndTime">End Time:</label>
                    <input type="time" ng-model="vm.editShiftTypes.default_end_time  " class="form-control" id="inputEndTime" step="900">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputBreakDuration">Break Duration:</label>
                    <input type="text" ng-model="vm.editShiftTypes.bread_duration " class="form-control" id="inputBreakDuration" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputTeam">Team:</label>
                    <select name="Role" class="form-control" id="inputTeam" ng-model="vm.editShiftTypes.team_fk.id">
                        <option value="" disabled>Select a team</option>
                        <option ng-repeat="team in vm.teams" value="{{team.id}}" ng-selected="vm.editShiftTypes.team_fk.id">{{team.location}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputWholeday">Whole day:</label>
                    <select name="Role" class="form-control" id="inputWholeday" ng-model="vm.editShiftTypes.wholeday">
                        <option value="false" >No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button ui-sref="manage-shifts" class="btn btn-danger pull-left">Cancel</button>
                <button class="btn btn-primary pull-right" ng-click="vm.updateShift(vm.editShiftTypes.id)">Create</button>
            </div>
        </div>
    </div>
</div>