<div class="container manage-shifts">
    <div class="segment light-bg box">
        <div class="loading-container" ng-if="vm.dataLoading">
            <div class="loading">
                <div class="loading-logo">
                    <img src="images/logo.png" alt="Deimos">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Edit Shift</h4>
                <hr>
                <div class="alert alert-warning">
                    <strong><i class="fa fa-exclamation-triangle"></i>Caution!</strong> <br>
                    <span>Because of an unknown error the date will be inserted incorrectly into the database. Instead, add an hour to the current date.</span>
                </div>

                <div class="alert" ng-class="vm.message.type" ng-if="vm.message">
                    <strong><i class="fa" ng-class="vm.message.icon"></i>{{ vm.message.title }}</strong> <br>
                    <span ng-bind-html="vm.message.content"></span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label for="inputShort">Short:</label>
                    <input type="text" placeholder="QM" class="form-control" id="inputShort" ng-model="vm.shift.short">
                </div>
            </div>

            <div class="col-md-8">
                <label for="inputDescription">Description:</label>
                <input type="text" placeholder="Queue Manager" class="form-control" id="inputDescription"
                       ng-model="vm.shift.description">
            </div>

        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="inputStartTime">Start Time:</label>
                <input type="time" class="form-control" id="inputStartTime" ng-model="vm.shift.default_start_time" step="900">
            </div>
            <div class="col-md-2">
                <label for="inputEndTime">End Time:</label>
                <input type="time" class="form-control" id="inputEndTime" ng-model="vm.shift.default_end_time" step="900">
            </div>
            <div class="col-md-4">
                <label for="color">Color:</label>

                <div class="colors" id="color">
                    <div class="color" ng-repeat="color in vm.colors" ng-click="vm.selectColor(color)" ng-class="{'active': color == vm.selectedColor}">
                        <div class="inner-color" ng-style="{'background-color': color}"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="inputTeam">Team:</label>
                <select name="team" class="form-control" id="inputTeam" ng-model="vm.shift.team_fk.id" ng-options="team.id as team.location for team in vm.teams">
                    <option value="" ng-disabled="!!vm.shift.team_fk">Select a team</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
                <a ui-sref="manage-shifts" class="btn btn-danger pull-left">Cancel</a>
                <a class="btn btn-primary pull-right" ng-click="vm.update()">Save</a>
            </div>
        </div>
    </div>
</div>