<div class="container manage-shifts">
    <div class="segment light-bg box">
        <div class="row">
            <div class="col-md-12">
                <h4>Edit Shift</h4>
                <hr>

                <div class="alert" ng-class="vm.message.type" ng-if="vm.message">
                    <strong><i class="fa" ng-class="vm.message.icon"></i>{{ vm.message.title }}</strong> <br>
                    <span ng-bind-html="vm.message.content"></span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                    <label for="inputTeam">Team:</label>
                    <select name="inputTeam" class="form-control" id="inputTeam" ng-model="vm.shift.team_fk" ng-options="team.location for team in vm.team">
                        <option value="" disabled>Select a team</option>
                    </select>
                </div>
            <div class="col-md-4">
                <label for="inputShort">Short:</label>
                <input type="text" ng-model="vm.shift.short" class="form-control" id="inputShort" >
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <label for="inputDescription">Description:</label>
                    <input type="text" ng-model="vm.shift.description" class="form-control" id="inputDescription" >
                </div>
            </div>
            <div class="col-md-2 col-md-offset-2">
                <label for="inputStartTime">Start Time:</label>
                <input type="time" ng-model="vm.shift.default_start_time " class="form-control" id="inputStartTime" step="900">
            </div>
            <div class="col-md-2 col-md-offset-1">
                <label for="inputEndTime">End Time:</label>
                <input type="time" ng-model="vm.shift.default_end_time  " class="form-control" id="inputEndTime" step="900">
            </div>
            <div class="col-md-2 col-md-offset-1">
                <label>
                    Whole day:<br>
                    <input type="radio" name="radio" ng-value="true" ng-model="vm.shift.wholeday">Yes
                    <input type="radio" name="radio" ng-value="false" ng-model="vm.shift.wholeday">No
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
                <button ui-sref="manage-shifts" class="btn btn-danger pull-left">Cancel</button>
                <button class="btn btn-primary pull-right" ng-click="vm.update()">Save</button>
            </div>
        </div>
    </div>
</div>