<div class="container manage-shifts">
    <div class="segment light-bg box">
        <div class="loading-container" ng-if="vm.dataLoading">
            <div class="loading">
                <div class="loading-logo">
                    <img src="images/logo.png" alt="Deimos">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary pull-right" ui-sref="manage-shifts-new"><span> Add Shift</span><i
                        class="fa fa-plus"></i></button>
                <h4>Manage Shifts</h4>
                <hr>

                <div class="alert" ng-class="vm.message.type" ng-if="vm.message">
                    <strong><i class="fa" ng-class="vm.message.icon"></i>{{ vm.message.title }}</strong> <br>
                    <span ng-bind-html="vm.message.content"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <th>Shift</th>
                    <th>Duration</th>
                    <th>Break</th>
                    <th>Team</th>
                    <th>Color</th>
                    <th>Options</th>
                    </thead>
                    <tbody ng-repeat="shift in vm.shifts">
                    <tr>
                        <td>{{ shift.short }}</td>
                        <td>
                            <span ng-if="(shift.default_start_time | date: 'HH:mm') != '00:00' && (shift.default_start_time | date: 'HH:mm') != '23:59'">{{ shift.default_start_time | date: 'HH:mm'}} - {{ shift.default_end_time | date: 'HH:mm'}}</span>
                            <span ng-if="!((shift.default_start_time | date: 'HH:mm') != '00:00' && (shift.default_start_time | date: 'HH:mm') != '23:59')">Whole Day</span>
                        </td>
                        <td>{{ shift.break_duration * 60}} Minutes</td>
                        <td>{{ shift.team_fk.location }}</td>
                        <td><div class="badge" style="background-color: {{shift.color}}">{{shift.color | uppercase}}</div></td>
                        <td>
                            <button class="btn btn-gray" ui-sref="manage-shifts-edit({shiftTypeId: shift.id})"><i class="fa fa-pencil"></i></button>
                            <a class="btn btn-red" ng-if="!shift.disableLoading" ng-click="vm.showDisableModal(shift)"><i class="fa fa-trash"></i></a>
                            <a class="btn btn-red" ng-if="shift.disableLoading"><i class="fa fa-spinner fa-pulse"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="disable-shift-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                You are about to disable <strong>{{vm.selectedShiftType.short}}</strong>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="vm.disable(vm.selectedShiftType)">Yes</button>
            </div>
        </div>
    </div>
</div>