<div class="container manage-shifts">
    <div class="segment light-bg box">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary pull-right" ui-sref="create-shift"><span> New Shift</span><i
                        class="fa fa-plus"></i></button>
                <h4>Manage Shifts</h4>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <th>Shift</th>
                    <th>Duration</th>
                    <th>Team</th>
                    <th>Options</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Shift 1</td>
                        <td>08:15-16:45</td>
                        <td>GRIP RIJSWIJK</td>
                        <td>
                            <button class="btn btn-gray" ui-sref="edit-shift"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-red"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
