<div class="container manage-shifts">
    <div class="segment light-bg box">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary pull-right" ui-sref="manage-shifts-new"><span> New Shift</span><i
                        class="fa fa-plus"></i></button>
                <h4>Manage Shifts</h4>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <th>Shift</th>
                    <th>Duration</th>
                    <th>Team</th>
                    <th>Options</th>
                    </thead>
                    <tbody ng-repeat="shift in vm.shifts">
                    <tr>
                        <td>{{ shift.description }}</td>
                        <td>{{ shift.default_start_time | date: 'HH:mm'}} - {{ shift.default_end_time | date: 'HH:mm'}}</td>
                        <td>{{ shift.team }}</td>
                        <td>
                            <button class="btn btn-gray" ui-sref="manage-shifts-edit({shiftTypeId: shift.id})"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-red"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
