<div class="container manage-shifts">
    <div class="segment light-bg box">
        <div class="loading-container" ng-if="vm.dataLoading">
            <div class="loading">
                <div class="loading-logo">
                    <img src="images/logo.png" alt="Deimos">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Add Shift</h4>
                <hr>
                <!--<div class="alert alert-warning">
                    <strong><i class="fa fa-exclamation-triangle"></i>Caution!</strong> <br>
                    <span>Because of an unknown error the date will be inserted incorrectly into the database. Instead, add an hour to the current date.</span>
                </div>-->
                <div class="alert" ng-class="vm.message.type" ng-if="vm.message">
                    <strong><i class="fa" ng-class="vm.message.icon"></i>{{ vm.message.title }}</strong> <br>
                    <span ng-bind-html="vm.message.content"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group ">
                    <label for="inputShort">Short:</label>
                    <input type="text" placeholder="QM" class="form-control" id="inputShort" ng-model="vm.shift.short">
                </div>
            </div>

            <div class="col-md-6">
                <label for="inputDescription">Description:</label>
                <input type="text" placeholder="Queue Manager" class="form-control" id="inputDescription"
                       ng-model="vm.shift.description">
            </div>

            <div class="col-md-4">
                <label for="color">Color:</label>

                <div class="colors" id="color">
                    <div class="color" ng-repeat="color in vm.colors" ng-click="vm.selectColor(color)"
                         ng-class="{'active': color == vm.selectedColor}">
                        <div class="inner-color" ng-style="{'background-color': color}"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 ">
                <label>Whole Day:</label>
                <br>
                <button class="btn" ng-class="{'btn-gray': !vm.shift.wholeDay, 'btn-success': vm.shift.wholeDay }" ng-click="vm.toggleWholeDay(vm.shift)"><i class="fa fa-check"></i></button>
            </div>

            <div class="col-md-2">
                <label>Start Time:</label>
                <div class="select-time">
                    <select class="form-control" ng-model="vm.shift.start_time[0]" ng-options="hour for hour in vm.hours" ng-disabled="vm.shift.wholeDay"></select>
                    <span>:</span>
                    <select class="form-control" ng-model="vm.shift.start_time[1]" ng-options="minute for minute in vm.minutes" ng-disabled="vm.shift.wholeDay"></select>
                </div>
            </div>
            <div class="col-md-2">
                <label>End Time:</label>
                <div class="select-time">
                    <select class="form-control disabled" ng-model="vm.shift.end_time[0]" ng-options="hour for hour in vm.hours" ng-disabled="vm.shift.wholeDay" ></select>
                    <span>:</span>
                    <select class="form-control" ng-model="vm.shift.end_time[1]" ng-options="minute for minute in vm.minutes" ng-disabled="vm.shift.wholeDay"></select>
                </div>
            </div>

            <div class="col-md-2">
                <label for="breakDuration">Break Duration:</label>
                <select class="form-control" id="breakDuration" ng-model="vm.shift.break_duration" ng-options="minute for minute in vm.breakMinutes" ng-disabled="vm.shift.wholeDay"></select>
            </div>

            <div class="col-md-4">
                <label for="inputTeam">Team:</label>
                <select name="team" class="form-control" id="inputTeam" ng-model="vm.shift.team"
                        ng-options="team.name for team in vm.team">
                    <option value="" ng-disabled="!!vm.shift.team_fk">Select a team</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
                <a ui-sref="manage-shifts" class="btn btn-danger pull-left">Cancel</a>
                <a class="btn btn-primary pull-right" ng-click="vm.add()">Create</a>
            </div>
        </div>
    </div>
</div>