<div class="container manage-shifts">
    <div class="segment light-bg box">
        <div class="row">
            <div class="col-md-12">
                <h4>Add Shift</h4>
                <hr>

                <div class="alert" ng-class="vm.message.type" ng-if="vm.message">
                    <strong><i class="fa" ng-class="vm.message.icon"></i>{{ vm.message.title }}</strong> <br>
                    <span ng-bind-html="vm.message.content"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label for="inputShort">Short:</label>
                    <input type="text" placeholder="QM" class="form-control" id="inputShort" ng-model="vm.shift.short">
                </div>
            </div>

            <div class="col-md-8">
                <label for="inputDescription">Description:</label>
                <input type="text" placeholder="Queue Manager" class="form-control" id="inputDescription"
                       ng-model="vm.shift.description">
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="inputStartTime">Start Time:</label>
                <input type="time" class="form-control" id="inputStartTime" ng-model="vm.shift.default_start_time" step="900">
            </div>
            <div class="col-md-4">
                <label for="inputEndTime">End Time:</label>
                <input type="time" class="form-control" id="inputEndTime" ng-model="vm.shift.default_end_time" step="900">
            </div>
            <div class="col-md-4">
                <label for="inputTeam">Team:</label>
                <select name="team" class="form-control" id="inputTeam" ng-model="vm.shift.team"
                        ng-options="team.location for team in vm.team">
                    <option value="" ng-disabled="!!vm.shift.team_fk">Select a team</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
                <a ui-sref="manage-shifts" class="btn btn-danger pull-left">Cancel</a>
                <a class="btn btn-primary pull-right" ng-click="vm.add()">Create</a>
            </div>
        </div>
    </div>
</div>