<div class="container">
    <div class="segment light-bg box">
        <div class="row">
            <div class="col-md-12">
                <h4>Add Task</h4>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group ">
                    <label for="inputDescription">Description:</label>
                    <input type="text" placeholder="Queue Manager" class="form-control" id="inputDescription" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputShort">Short:</label>
                    <input type="text" placeholder="QM" class="form-control" id="inputShort" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button ui-sref="manage-tasks" class="btn btn-danger pull-left">Cancel</button>
                <button class="btn btn-primary pull-right">Create</button>
            </div>
        </div>
    </div>
</div>