<!--<div class="manage">-->
<!--<div class="create-container">-->
<!--<div class="tab-header">-->
<!--<h4 class="pull-left"><label>Add User</label></h4>-->
<!--<div class="clearfix"></div>-->
<!--<hr>-->
<!--</div>-->
<!--<form>-->
<!--<div class="create-row">-->
<!--<div class="form-group col-md-5">-->
<!--<label for="inputName">Name:</label>-->
<!--<input type="text" placeholder="Jhon" class="form-control" id="inputName" >-->
<!--</div>-->

<!--<div class="form-group col-md-5">-->
<!--<label for="inputEmail">Email:</label>-->
<!--<input type="email" placeholder="email@example.com" class="form-control" id="inputEmail" >-->
<!--</div>-->
<!--<div class="form-group col-md-5">-->
<!--<label for="inputCWID">CWID:</label>-->
<!--<input type="text" placeholder="ABCDE" class="form-control" id="inputCWID" >-->
<!--</div>-->
<!--<div class="form-group col-md-5">-->
<!--<label for="inputRole">Role:</label>-->
<!--<select name="Role" class="form-control" id="inputRole">-->
<!--<option value="" >Role</option>-->
<!--</select>-->
<!--</div>-->
<!--<div class="form-group col-md-5">-->
<!--<label for="inputTeam">Team:</label>-->
<!--<select name="Role" class="form-control" id="inputTeam">-->
<!--<option value="" >Team<option>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->
<!--<div class="create-buttons">-->
<!--<button ui-sref="manage-teams" class="btn btn-danger">Cancel</button>-->
<!--<button class="btn btn-info pull-right">Create</button>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->

<div class="container">
    <div class="segment light-bg box">
        <div class="row">
            <div class="col-md-12">
                <h4>Add User</h4>
            </div>

            </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputName">Name:</label>
                    <input type="text" placeholder="Jhon" class="form-control" id="inputName">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <label for="inputEmail">Email:</label>
                <input type="email" placeholder="email@example.com" class="form-control" id="inputEmail" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputRole">Role:</label>
                    <select name="Role" class="form-control" id="inputRole">
                        <option value="" >Role</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputTeam">Team:</label>
                    <select name="Role" class="form-control" id="inputTeam">
                        <option value="" >Team</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputCWID">CWID:</label>
                    <input type="text" placeholder="ABCDE" class="form-control" id="inputCWID" >
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <button ui-sref="manage-users" class="btn btn-danger pull-left">Cancel</button>
                <button class="btn btn-primary pull-right">Create</button>
            </div>
        </div>
    </div>
</div>