<div class="container">
    <div class="segment light-bg box">
        <div class="row">
            <div class="col-md-12">
                <h4>Add User</h4>
            </div>

            </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputUserName">User Name:</label>
                    <input type="text" placeholder="ERETV" class="form-control" id="inputUserName">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputName">Name:</label>
                    <input type="text" placeholder="Jhon" class="form-control" id="inputName">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputEmail">Email:</label>
                 <input type="email" placeholder="email@example.com" class="form-control" id="inputEmail" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputRole">Role:</label>
                    <select name="Role" class="form-control" id="inputRole">
                        <option value="" >Role</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputTeam">Team:</label>
                    <select name="Role" class="form-control" id="inputTeam">
                        <option value="" >Team</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button ui-sref="manage-users" class="btn btn-danger pull-left">Cancel</button>
                <button class="btn btn-primary pull-right">Create</button>
            </div>
        </div>
    </div>
</div>